/* Header/Logo Title */

.header {
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 20px;
  background-image: 
  linear-gradient(to right bottom, 
     rgb(194, 183, 162),
     rgba(137, 121, 102, 0.8)),
     url('https://images.pexels.com/photos/8740311/pexels-photo-8740311.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
}

div.gallery {
    margin: 17px;
    border: 1px solid #ccc;
    float: left;
    width: 460px;
    height: 480px;
    background-image:   
     url('https://images.pexels.com/photos/6800779/pexels-photo-6800779.jpeg?auto=compress&cs=tinysrgb&w=600');
  }

  div.desc {
    padding: 20px;
    text-align: center;
  }
  p {
    text-indent: 30px;
    text-align: justify;
  }